<div class="jumbotron">
  <h3 id={{plan.id}} class="informationArticleTitle">Información del Plan</h3>
  <br>
    <label class="control-label" value="{{plan.name}}" name="rut" id="rut">Nombre: {{plan.name}}</label><br>
    <label class="control-label" value="{{plan.description}}" name="birthDate" id="datepicker">Descripción: {{plan.description}}</label><br>
    <label class="control-label" value="{{plan.price}}" name="names" id="names">Precio: ${{plan.price}}</label><br>
    <label class="control-label" style="color: red"value="{{plan.hoursPerWeek}}" name="firstLastName" id="firstLastName">Horas por Semana: {{plan.hoursPerWeek}}</label><br>
</div>
