<label for="inputKey" class="col-md-2 control-label">Usuarios</label>
<div class="col-md-2">
  <select name="medicalCertificate" class="form-control" value="{{user.medicalCertificate}}" id="medicalCertificate">
    <option value=""></option>
    {{#users}}
    <option id="{{id}}}" value="{{rut}}">{{firstLastName}}, {{rut}}</option>
    {{/users}}
  </select>
</div>
</div>