<br>
<div class="row">
  <div class="col-md-1">
  </div>
  
  <div class="col-md-6">
    <h4 class="informationArticleTitle">{{tittle}}</h4>
    <form id="addUserform" role="form" class=".form-inline informationArticleTitle"><br>
      <div class="form-group">
        <label>Nombres: </label>
        <input class="form-control" value="{{user.userNames}}" name="userNames" id="userNames">
      </div>
      <div class="form-group">
        <label>RUT: </label>
        <input class="form-control" value="{{user.idUser}}" name="idUser" id="idUser">
      </div>
      <div class="form-group">
        <label>Apellido Paterno</label>
        <input class="form-control" value="{{user.apellidoPaterno}}" name="apellidoPaterno" id="apellidoPaterno">
      </div>
      <div class="form-group">
        <label>Apellido Materno</label>
        <input class="form-control" value="{{user.apellidoMaterno}}" name="apellidoMaterno" id="apellidoMaterno">
      </div>
      <div class="form-group">
        <label>Fecha Nacimiento</label>
        <input class="form-control datepicker" value="{{user.fechaNacimiento}}" name="fechaNacimiento" id="datepicker">
      </div>
      <div class="form-group">
        <label>Direcci&oacuten</label>
        <input class="form-control" value="{{user.direccion}}" name="direccion" id="direccion">
      </div>
      <div class="form-group">
        <label>Comuna</label>
        <input class="form-control" value="{{user.comuna}}" name="comuna" id="comuna">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" value="{{user.correo}}" name="correo" id="correo">
      </div>
      <div class="form-group">
        <label>Telefono</label>
        <input class="form-control" value="{{user.telefono}}" name="telefono" id="telefono">
      </div>
      <div class="form-group">
        <label>Certificado Medico</label>
        <input class="form-control" value="{{user.certificadoMedico}}" name="certificadoMedico" id="certificadoMedico">
      </div>
      <div class="form-group">
        <label>Enfermedades</label>
        <input class="form-control" value="{{user.enfermedades}}" name="enfermedades" id="enfermedades">
      </div>
      <div class="form-group">
        <label>Observaciones</label>
        <input class="form-control" value="{{user.observaciones}}" name="observaciones" id="observaciones">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="clave" id="clave">
      </div>
      <label id="save" class="btn btn-primary">Enviar</label>
    </form>
    <br>
  </div>
  <br>
  <br>
</div>




<div class ="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    
    <form id="addUserform" role="form" class=".form-inline informationArticleTitle"><br>
      <div class="form-group">
        <div class="col-md-12">
          <div class="form-group row">
            
            <label for="inputKey" class="col-md-1 control-label">Rut</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputKey" placeholder="Rut">
            </div>

            <label for="inputValue" class="col-md-2 control-label">Fecha Nacimiento</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="inputValue" placeholder="Value">
            </div>
          </div>
          <div class="form-group row">

            <label for="inputValue" class="col-md-1 control-label">Nombres</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputValue" placeholder="Value">
            </div>

            <label for="inputValue" class="col-md-1 control-label">Apellido Paterno</label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="inputValue" placeholder="Value">
            </div>

            <label for="inputValue" class="col-md-1 control-label">Apellido Materno</label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="inputValue" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-1">
  </div>
</div>