<div class="jumbotron">
    <h3 id="{{product.id}}" class="informationArticleTitle">Resumen de Producto</h3>
    <label class="control-label" value="{{product.nameOfPlan}}">Nombre Plan: {{product.nameOfPlan}}</label><br>
    <label class="control-label" style="color: red" value="{{product.hoursOfPlan}}">Horas totales: {{product.hoursOfPlan}}</label><br>
    <label class="control-label" style="color: red" value="{{product.leftHours}}">Horas faltantes: product.leftHours}}</label><br>
</div>